.contact {
  width: 90%;
  margin: auto;
}

.contact-section {
  padding: 20px;
}

form label {
  font-size: 20px;
}

form input {
	height: 35px;
	margin-top: 10px;
  font-size: 20px;
}

form input, form textarea {
	width: 100%;
  margin-bottom: 20px;
}

form textarea {
	height: 160px;
	margin-top: 10px;
  font-size: 20px;
}
.button-container {
  text-align: center;
}

button {
  color: white;
  border: none;
  font-size: 20px;
  padding: 1em;
  background-color: #02aab0;
  background-image: linear-gradient(to bottom right, #02aab0 , #00cdac);
  border-radius: 10px;
}


@media all and (min-width: 700px) {
  .contact {
    width: 50%;
  }
}