@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Georama', sans-serif;
}


h3 {
  font-size: 30px;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.footer {
  text-align: center;
  color: white;
  background-color: #02aab0;
  background-image: linear-gradient(to bottom right, #02aab0 , #00cdac);
}

.footer p {
  margin: 0px;
  padding: 20px;
}

@media all and (min-width: 700px) {
  .flex-container {
    flex-direction: row;
  }
} 