* {
  box-sizing: border-box;
}


h3 {
  font-size: 30px;
  margin: 0;
  padding: 5px 0;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.footer p {
  text-align: center;
}

@media all and (min-width: 700px) {
  .flex-container {
    flex-direction: row;
  }
} 