.nav {
  padding: 20px 20px;
  display: flex;
  justify-content: flex-end;
}

.nav-icon {
  font-size: 40px;
  padding-right: 20px;
  color: #332E3C;
  cursor: pointer;
}

.nav-icon:last-child {
  padding-right: 0;
}

.nav-icon:hover, .nav-icon:focus {
  color: #02aab0;
}

.nav-links {
  padding: 10px;
}