

.project-container {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  margin: 0px;
}

.project-container p {
  margin: 0px;
}

.Projects img {
  width: 100%;
  box-shadow: 10px 10px 10px -5px ;
}

.img-wrapper {
  margin-right: 20px;
}

.text-wrapper {
  margin-top: 10px;
}

.link-container {
  text-align: center;
  margin-top: 30px;
}

.live {
  text-decoration: none;
  border: none;
  color: white;
  font-size: 20px;
  padding: 20px;
  background-color: #02aab0;
  background-image: linear-gradient(to bottom right, #02aab0 , #00cdac);
  border-radius: 10px;
}

.source {
  text-decoration: none;
  border: none;
  font-size: 20px;
  padding: 20px;
  color:#00cdac;
  background-color: white;
}

@media all and (min-width: 800px) {
  .project-container {
    flex-direction: row;
  }

  .img-wrapper {
    width: 50%;
  }

  .text-wrapper {
    width: 50%;
  }

}  