

.project-container {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 20px 20px;
}

h4 {
  font-size: 20px;
  margin: 0px;
}

.project-container p {
  margin: 0px;
}

.Projects img {
  width: 100%;
  box-shadow: 10px 10px 10px -5px rgba(0,0,0,0.75);
}

.source {
  background-color: #02aab0;
  background: -webkit-linear-gradient(#02aab0, #00cdac);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media all and (min-width: 800px) {
  .project-container {
    flex-direction: row;
  }

  .img-wrapper {
    width: 50%;
  }

  .text-wrapper {
    width: 50%;
  }

}  